@import '../vars.css';

.confirm-modal {
	outline: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	color: var(--white);
	padding: 50px;
	padding-top: 170px;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.buttons {
	margin-top: 100px;
}

.buttons button {
	margin-right: 15px;
}

.buttons button:last-child {
	margin-right: 0px;
}

.confirm-modal.action {
	background-color: var(--blue);
	color: var(--white);
}

.confirm-modal.danger {
	background-color: var(--red);
	color: var(--white);
}
