a.deal {
	text-decoration: none;
}

.titleRow {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
}

.title {
	flex-basis: 75%;
	color: #333333;
	font-size: 18px;
	font-weoght: 200;
	margin: 0;
}

.replies {
	color: #333333;
	position: relative;
	padding-right: 15px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1px;
	text-align: right;
	padding-top: 4px;
	&::after {
		position: absolute;
		content: '';
		background-image: url('./images/icon_replies.png');
		background-size: 20px;
		background-position: center;
		width: 20px;
		height: 20px;
		right: -4px;
		bottom: -3px;
		bottom: 0;
	}
}

.date {
	color: #acacac;
	font-size: 10px;
	font-weight: 300;
	line-height: 1.3;
}

.requesterRow {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 15px;
	margin-top: 7px;
}

.requesterInfo {
	display: flex;
	justify-content: flex-start;
	gap: 12px;
	flex-direction: row;
	align-items: center;
	letter-spacing: 0.1px;
	font-size: 12px;
	font-weight: 700;
	color: #24b1ff;

	&.myRequest {
		color: #333333;
	}
}

.requesterInfo img {
	width: 25px;
	height: auto;
	margin-right: 12px;
	border-radius: 50%;
	margin: 0;
	border-style: none;
}

.dot {
	display: inline-block;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	margin: 2px 3px;
	background: #24b1ff;
}

.myDot {
	background: #333333;
}

.requestAmt {
	text-align: right;
	color: #efd96f;
	letter-spacing: 0.1px;
	font-weight: 700;
}

.requestAmt .dai {
	font-size: 10px;
	line-height: 10px;
}

.requestAmt .amt {
	line-height: 24px;
	font-size: 24px;
}
