@import '../vars.css';

:root {
	--secondary-color-3: #666666;
	--secondary-color-4: #333333;
	--base: #fafafa;
}

button.icon {
	position: relative;
	display: inline-block;
	border: none;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	line-height: 0;
	pointer-events: all;
	cursor: pointer;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;

	&::before {
		position: absolute;
		content: '';
		mask-size: 50px;
		masko-position: 50% 50%;
		mask-repeat: no-repeat;
		background-color: var(--secondary-color-3);
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	&.disabled,
	&:disabled {
		pointer-events: none;
		&::before {
			opacity: 0.2;
		}
	}

	&.close::before {
		mask: url('./images/icon_close.svg') no-repeat 50% 50%;
		background-color: var(--secondary-color-3);
	}

	&.cancelCreation::before {
		mask: url('./images/icon_cancel.svg') no-repeat 50% 50%;
		background-color: var(--base);
	}

	&.cancel::before {
		mask: url('./images/icon_cancel.svg') no-repeat 50% 50%;
		background-color: var(--secondary-color-4);
	}

	&.rotateImg::before {
		mask: url('./images/icon_rotate.svg') no-repeat 50% 50%;
		mask-size: 36px;
		background-color: var(--action-bg-color);
	}

	&.exit::before {
		mask: url('./images/icon_logout.svg') no-repeat 50% 50%;
		mask-size: 36px;
		background-color: var(--secondary-color-3);
		@media (min-width: 992px) {
			mask-size: 50px;
		}
	}

	&.back::before {
		mask: url('./images/icon_back.svg') no-repeat 50% 50%;
		mask-size: 36px;
		background-color: var(--secondary-color-3);
		@media (min-width: 992px) {
			mask-size: 50px;
		}
	}

	&.select {
		width: 36px;
		height: 36px;
		&::before {
			mask: url('./images/icon_next.svg') no-repeat 50% 50%;
			mask-size: 36px;
			background-color: var(--secondary-color-4);
		}
	}

	&.conflictNext,
	&.requestNext,
	&.errorNext,
	&.confirmAction,
	&.confirmDanger {
		width: 72px;
		height: 72px;
		&::before {
			mask-size: 56px !important;
		}
	}

	&.conflictNext,
	&.requestNext,
	&.errorNext,
	&.chat,
	&.reply,
	&.requestStart,
	&.confirmAction,
	&.confirmDanger,
	&.confirmSend,
	&.upload,
	&.counter,
	&.addImage {
		background-color: var(--base);
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	}

	&.conflictNext::before {
		mask: url('./images/icon_next.svg') no-repeat 50% 50%;
		background-color: var(--action-bg-color);
	}

	&.requestNext {
		background-color: #24b1ff;
		&::before {
			mask: url('./images/icon_next.svg') no-repeat 50% 50%;
			background-color: var(--base);
		}
	}

	&.errorNext::before {
		mask: url('./images/icon_next.svg') no-repeat 50% 50%;
		background-color: var(--danger-bg-color);
	}

	&.confirmAction::before {
		mask: url('./images/icon_confirm.svg') no-repeat 50% 50%;
		background-color: var(--action-bg-color);
	}

	&.confirmDanger::before {
		mask: url('./images/icon_confirm.svg') no-repeat 50% 50%;
		background-color: var(--danger-bg-color);
	}

	&.confirmSend {
		width: 50px;
		height: 50px;
		&::before {
			mask: url('./images/icon_confirm.svg') no-repeat 50% 50%;
			mask-size: 38px !important;
			background-color: var(--secondary-color-4);
		}
	}

	&.collapse {
		transform: rotate(270deg);
		transition: transform 0.3s;
		&.open {
			transform: rotate(90deg);
		}
		&::before {
			mask: url('./images/icon_next.svg') no-repeat 50% 50%;
			background-color: var(--action-bg-color);
		}
	}

	&.requestStart::before {
		mask: url('./images/icon_new.svg') no-repeat 50% 50%;
		background-color: var(--action-bg-color);
	}

	&.reply::before {
		mask: url('./images/icon_reply.svg') no-repeat 50% 50%;
		background-color: var(--action-bg-color);
	}

	&.chat::before {
		mask: url('./images/icon_chat.svg') no-repeat 50% 50%;
		background-color: var(--action-bg-color);
	}

	&.requestStart,
	&.reply,
	&.chat {
		width: 80px;
		height: 80px;
		&::before {
			mask-size: 62px;
		}
	}

	&.counter {
		width: 20px;
		height: 20px;
		font-size: 10px;
		background-color: var(--secondary-color-4);
		color: var(--base);
		&::before {
			content: none;
		}
	}

	&.addImage {
		background-color: #24b1ff;
		width: 20px;
		height: 20px;
		@media screen and (min-width: 768px) {
			width: 30px;
			height: 30px;
		}
		&::before {
			mask: url('./images/icon_new.svg') no-repeat 50% 50%;
			background-color: var(--base);
			mask-size: 100%;
		}
	}

	&.upload {
		background-color: #191919;
		width: 30px;
		height: 30px;
		&::before {
			mask: url('./images/icon_upload.svg') no-repeat 50% 50%;
			mask-size: 23px;
			background-color: var(--base);
		}
	}
}
