@import '../vars.css';

button.icon {
	position: relative;
	display: inline-block;
	border: none;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	line-height: 0;
	pointer-events: all;
	cursor: pointer;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;

	&::before {
		position: absolute;
		content: '';
		mask-size: 50px;
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
		background-color: var(--grey3);
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	&.disabled,
	&:disabled {
		pointer-events: none;

		&::before {
			opacity: 0.2;
		}
	}

	&.close::before {
		mask-image: url('./images/icon-close.svg');
		background-color: var(--grey3);
	}

	&.cancelCreation::before {
		mask-image: url('./images/icon-cancel.svg');
		background-color: var(--white);
	}

	&.cancel::before {
		mask-image: url('./images/icon-cancel.svg');
		background-color: var(--grey4);
	}

	&.rotateImg::before {
		mask-image: url('./images/icon-rotate.svg');
		mask-size: 36px;
		background-color: var(--blue);
	}

	&.exit::before {
		mask-image: url('./images/icon-logout.svg');
		mask-size: 36px;
		background-color: var(--grey3);

		@media (min-width: 992px) {
			mask-size: 50px;
		}
	}

	&.back::before {
		mask-image: url('./images/icon-back.svg');
		mask-size: 36px;
		background-color: var(--grey3);

		@media (min-width: 992px) {
			mask-size: 50px;
		}
	}

	&.select {
		width: 36px;
		height: 36px;

		&::before {
			mask-image: url('./images/icon-next.svg');
			mask-size: 36px;
			background-color: var(--grey4);
		}
	}

	&.conflictNext,
	&.requestNext,
	&.errorNext,
	&.confirmAction,
	&.confirmDanger {
		width: 72px;
		height: 72px;

		&::before {
			mask-size: 56px !important;
		}
	}

	&.conflictNext,
	&.requestNext,
	&.errorNext,
	&.chat,
	&.reply,
	&.requestStart,
	&.confirmAction,
	&.confirmDanger,
	&.confirmSend,
	&.upload,
	&.counter,
	&.addImage {
		background-color: var(--white);
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	}

	&.conflictNext::before {
		mask-image: url('./images/icon-next.svg');
		background-color: var(--blue);
	}

	&.requestNext {
		background-color: #24b1ff;

		&::before {
			mask-image: url('./images/icon-next.svg');
			background-color: var(--white);
		}
	}

	&.errorNext::before {
		mask-image: url('./images/icon-next.svg');
		background-color: var(--red);
	}

	&.confirmAction::before {
		mask-image: url('./images/icon-confirm.svg');
		background-color: var(--blue);
	}

	&.confirmDanger::before {
		mask-image: url('./images/icon-confirm.svg');
		background-color: var(--red);
	}

	&.confirmSend {
		width: 50px;
		height: 50px;

		&::before {
			mask-image: url('./images/icon-confirm.svg');
			mask-size: 38px !important;
			background-color: var(--grey4);
		}
	}

	&.collapse {
		transform: rotate(270deg);
		transition: transform 0.3s;

		&::before {
			mask-image: url('./images/icon-next.svg');
			background-color: var(--blue);
		}
	}

	&.expand {
		transform: rotate(90deg);
		transition: transform 0.3s;

		&::before {
			mask-image: url('./images/icon-next.svg');
			background-color: var(--blue);
		}
	}

	&.requestStart::before {
		mask-image: url('./images/icon-new.svg');
		background-color: var(--blue);
	}

	&.reply::before {
		mask-image: url('./images/icon-reply.svg');
		background-color: var(--blue);
	}

	&.chat::before {
		mask-image: url('./images/icon-chat.svg');
		background-color: var(--blue);
	}

	&.requestStart,
	&.reply,
	&.chat {
		width: 80px;
		height: 80px;

		&::before {
			mask-size: 62px;
		}
	}

	&.counter {
		width: 20px;
		height: 20px;
		font-size: 10px;
		background-color: var(--grey4);
		color: var(--white);

		&::before {
			content: none;
		}
	}

	&.addImage {
		background-color: #24b1ff;
		width: 20px;
		height: 20px;

		@media screen and (min-width: 768px) {
			width: 30px;
			height: 30px;
		}

		&::before {
			mask-image: url('./images/icon-new.svg');
			background-color: var(--white);
			mask-size: 100%;
		}
	}

	&.upload {
		background-color: #191919;
		width: 30px;
		height: 30px;

		&::before {
			mask-image: url('./images/icon-upload.svg');
			mask-size: 23px;
			background-color: var(--white);
		}
	}
}
