@import '../fonts.css';
@import '../vars.css';

.requesterInfo {
	font-family: 'Montserrat';
	display: flex;
	justify-content: flex-start;
	gap: 2px;
	flex-direction: row;
	align-items: center;
	letter-spacing: 0.1px;
	font-size: 12px;
	font-weight: 700;
	color: #24b1ff;

	& .dot {
		display: inline-block;
		border-radius: 50%;
		width: 4px;
		height: 4px;
		margin: 2px 3px;
		background: var(--action-bg-color);
	}

	&.myRequest {
		color: var(--secondary-color-4);

		& .dot {
			background: var(--secondary-color-4);
		}
	}
	&.requesterDetail {
		& img {
			width: 40px;
		}
	}
	& img {
		width: 25px;
		height: auto;
		border-radius: 50%;
		margin: 0 12px 0 0;
		border-style: none;
	}
}
