@import '../fonts.css';
@import '../vars.css';

button.button {
	font-family: 'Montserrat';
	background: var(--white);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	padding: 18px 24px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	text-align: center;
	color: var(--grey4);
	border: 0;
	min-width: 169px;
	pointer-events: all;
	cursor: pointer;

	&.blue {
		color: var(--blue);

		&.bg {
			background: var(--blue);
		}
	}

	&.bluelight {
		color: var(--blue-light);

		&.bg {
			background: var(--blue-light);
		}
	}

	&.green {
		color: var(--green);

		&.bg {
			background: var(--green);
		}
	}

	&.greenlight {
		color: var(--green-light);

		&.bg {
			background: var(--green-light);
		}
	}

	&.red {
		color: var(--red);

		&.bg {
			background: var(--red);
		}
	}

	&.yellowlight {
		color: var(--yellow-light);

		&.bg {
			background: var(--yellow-light);
		}
	}

	&.bg {
		&.blue,
		&.bluelight,
		&.green,
		&.greenlight,
		&.red {
			color: var(--white);
		}

		&.yellowlight {
			color: var(--grey4);
		}
	}

	&.disabled {
		background: var(--grey1) !important;
		color: var(--grey2-light-text) !important;
		pointer-events: none;
	}

	&.large {
		padding: 30px;
		font-size: 18px;
		line-height: 22px;
		min-width: 272px;
	}
}
