button {
  background: #fafafa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 18px 24px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  color: #24b1ff;
  border: 0;
  min-width: 169px;
  pointer-events: all;
  cursor: pointer;

  &.bgLight {
    background: #fafafa;
  }

  &.bgDanger {
    background: #f77878;
  }

  &.bgSuccess {
    background: #87dea7;
  }

  &.bgPrimary {
    background: #4fc0fd;
  }

  &.primary {
    color: #24b1ff;
  }

  &.dark {
    color: #333333;
  }

  &.danger {
    color: #d0021b;
  }

  &.success {
    color: #23b460;
  }

  &.light {
    color: #fff;
  }

  &.disabled {
    background: #f2f2f2;
    color: #cccccc;
    pointer-events: none;
  }

  &.large {
    padding: 30px;
    font-size: 18px;
    line-height: 22px;
    min-width: 272px;
  }
}
