:root {
	--danger-bg-color: #f55858;
	--danger-text-color: #fafafa;

	--action-bg-color: #24b1ff;
	--action-text-color: #fafafa;

	--deal-bg-color: #6ad792;
	--deal-text-color: #fafafa;

	--loading-bg-color: var(--deal-bg-color);

	--secondary-color-3: #666666;
	--secondary-color-4: #333333;
	--base: #fafafa;
}
