:root {
	--yellow: #efd96f;
	--yellow-light: #eee191;

	--blue: #24b1ff;
	--blue-light: #4cbffe;

	--green: #6ad792;
	--green-light: #88dea8;
	--green-text: #23b460;

	--red: #f55858;
	--red-text: #d0021b;

	--white: #fafafa;
	--grey1: #f2f2f2;
	--grey2: #bfbfbf;
	--grey2-lines: #dfdfdf;
	--grey2-light-text: #acacac;
	--grey3: #666666;
	--grey4: #333333;
	--grey5: #191919;
	--grey-button: #fbfbfb;
}
